snippet "rcf?" "React component function" rb
const $1: React.FC = (${2:props}) => {
  return $0;
};
endsnippet

snippet rcc "React component class" b
class $1 extends React.Component {
  render() {
    return $0;
  }
}
endsnippet
